<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <h1>Welcome to Weather Page</h1>
    <form action="/login" method="POST">
      <label for="userid">아이디 </label>
      <input type="text" id="userid" name="userid" placeholder="아이디를 입력하세요"><br>
      <label for="pw">비밀번호 </label>
      <input type="text" id="pw" name="pw" placeholder="비밀번호를 입력하세요"><br>

      <button type="submit">로그인</button><br><br>
    </form>
    <h3><a href="/joinForm">JOIN</a></h3><br>
  </div>
  <!-- 로그인,회원가입 구현 전 페이지 이동 (구현 후 삭제) -->
  <div>
    <p><a href="/weather">날씨페이지</a></p>
  </div>
</div> <!-- /container -->
</body>
</html>