body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 150px auto 100px;
    grid-template-areas: 
                        'a a'
                        'b c'
                        'd d';
}

header {
    grid-area: a;
    padding-bottom: 50px;

    display: grid;
    grid-template-rows: 70% 30%;
}

main {
    grid-area: b;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
                        'a b'
                        'c b';
}

.weather_main {
    grid-area: a;
    display: grid;
    grid-template-rows: 10% 10% 10% 70%;
}

#calendar {
    display: flex;
    justify-content: center;
    align-items: end;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_info {
    grid-area: c;
    display: grid;
    padding-left: 10%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 40%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    border: solid 1px blue; /*solid 없으면 테두리 안나옴*/
}

#info_text {
    grid-column: 1/4;
    margin:2%;
}

.week_weather {
    grid-area: b;
    display: grid;
}

.week {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 30% 70%;
    grid-template-areas: 'a a a'
                         'b b b';
}

.week_day {
    grid-area: a;
    text-align: center;
}

.week_info {
    grid-area: b;
    border-top: solid 1px black; /*solid 없으면 테두리 안나옴*/
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

.low {
    text-align: center;
    margin: auto;

}

.high {
    text-align: center;
    margin: auto;
}

.icon {
    margin: auto 0px auto auto ;
}


aside {
    grid-area: c;
}

footer {
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    
}

.side_title {
    text-align: center;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_list {
    text-align: center;
}