/* 전체 */
:root {
    --light-color: #aecbe8;
    --dark-color: #0066cc;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */
    overflow: auto;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

button:hover, a:hover, li:hover {
    cursor: pointer;
}

/* 메뉴 오픈 버전 */
#openMenu {
    display: none;
}

.menuWrapper {
    width: 268px;
    height: 64px;
    position: fixed;
    /*top: 24px;*/
    top: 12px;
    right: 24px;
}

.menuBtn {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

.menuBtn button {
    width: 54px;    
    height: 54px;
    border-radius: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--light-color);
    background-color: var(--dark-color);
}

.menuBtn button:hover {
    color: #fee;
    height: 58px;
    width: 58px;
}

/* main > .menuWrapper(200px), .todayWeatherWrapper(auto), .forecast(350px)

/* main */
.mainWrapper {
    /* width: 1366px; */
    /*height: 768px;*/
    /* height: 700px; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    /* border: 1px solid black; */
}

main {
    width: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 5px solid black; */
}

/* todayWeather 800px > 650px */
.todayWeatherWrapper {
    width: 800px;
    /*height: 700px;*/
    height: 600px;
     /*border: 5px solid black;*/
}

.todayWeatherBorder {
    /*width: 650px;*/
    /*height: 360px;*/
    width: 600px;
    height: 320px;
    border-radius: 70px;

    background-color: #D9D9D9;
    box-shadow: 0 0px 3px 4px rgba(0,0,0,0.2);

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.todayWeather {
    /*width: 610px;*/
    /*height: 320px;*/
    width: 560px;
    height: 280px;
    border-radius: 60px;

    background-image: url("tile.png"); 
    background-repeat: repeat;
    background-position: 30px 30px;
    box-shadow: inset 0 0px 5px 3px rgba(0,0,0,0.2),
                      0 0px 4px 2px rgba(0,0,0,0.2);

    border: 10px solid #F0F0F0;

    position: relative;
    top: 10px;
    left: 10px;    
}

.nowInfoWrapper {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 16px;
    margin-bottom: 32px;
}

.nowInfo{
    width: 100%;

    display: flex;
}

.infoDetail {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;

    font-size: 1.2rem;
    font-weight: 700;
}

/* #stdTime {
    font-size: 0.8rem;
} */

#refresh {
    color: var(--dark-color);
    background-color: transparent;
    border: none;

    margin-left: 8px;

    position: absolute;
    transform: translate(68px, 16px);
}

.temperature {
    /* width: 610px; */
    width: 560px;
    height: 70px;
    
    background-color: var(--dark-color);
    box-shadow: 0 0px 4px 2px rgba(0,0,0,0.2);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 날씨 정보 */

/* 과거 날씨 */
.past, .future {
    color: #fee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pastInfo, .futureInfo {
    width: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pastHour, #futureHour {
    font-size: 13px;
    margin-bottom: 4px;
}

#pastWeatherIcon, #futureWeatherIcon {
    font-size: 24px;
    font-weight: 300;
    font-variation-settings: 'FILL' 1;
}

#pastTemp, #futureTemp {
    border-radius: 50%;

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 15px;
    font-weight: 700;
}

/* 1시간 전 날씨 */
.past {
    width: 160px;
    height: 100px;

    padding-left: 10px;
}

/* 1시간 후 날씨 */
.future {
    width: 160px;
    height: 100px;
    padding-right: 10px;
}

/* 현재 날씨 */
.now {
    /*width: 300px;*/
    /*height: 120px;*/
    width: 275px;
    height: 100px;
    border-radius: 100px;

    background-color: #fff;
    box-shadow: 0 0px 4px 3px rgba(0,0,0,0.1), inset 0 0px 4px 3px rgba(0,0,0,0.2);
    border: 8px solid var(--dark-color);

    display: flex;
    /*justify-content: space-around;*/
    justify-content: space-between;
    align-items: center;
}

#currentExp{
    width: 80px;
    font-size: 24px;
    font-weight: 900;
    color: var(--dark-color);
    margin-right: 18px;
    text-align: center;
}

#currentTemp{
    width: 90px;
    height: 90px;
    border-radius: 50%;

    font-size: 24px;
    font-weight: 700;

    background-color: var(--dark-color);
    color: #fee;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 8px;
}

#currentTemp span {
    font-size: 20px;

    margin-left: 5px;
}

/* 날씨 캐릭터 */
.todayWeatherIcon {
    width: 100%;
    height: 240px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin-top: 30px;
}

.chairBack{
    /*width: 80%;*/
    width: 75%;
    height: 140px;
    border-radius: 20px;

    background-color: #D9D9D9;
    box-shadow: 0 -2px 5px 2px rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.chairSeat{
    width: 80%;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: #C3C3C3;
    box-shadow: 0 5px 10px 3px rgba(0,0,0,0.2);
}

.shadow {
    width: 80%;
    height: 20px;
    border-radius: 30%;

    background: transparent;
    box-shadow: 0 28px 4px 2px rgba(0,0,0,0.1);
}

#wicon:hover{
    filter: drop-shadow(0 5px 2px #fee);
}

/* 상세 정보 */
#wicon {
    transform: translateY(-280px);
    filter : drop-shadow(0 2px 2px rgba(0,0,0,0.2));
}

/* 사용자가 좋아하는 날씨 표시 */
#love {
    font-variation-settings: 'FILL' 1;
    color: red;
    position: absolute;
    font-size: 36px;
    /* transform: translate(-8px, -64px); */
    transform: translate(164px, -16px);
    cursor: pointer;
    display: none;
}

.myFvIcon {
    padding: 16px;
    border-radius: 10px;

    background-color: #fff;

    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;

    position: absolute;
    transform: translate(274px, 30px);

    display: none;
}

.myFvIcon:after {
    content:"";

    border-top:0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;

    position:absolute;
    top:-10px;
}

#love:hover ~.myFvIcon{
    display: block;
}

/* forecast 400px > 350px */
/* 예보 데이터 리스트 */
.forecast li {
    width: 50%;
    padding: 10px;
}

dl {
    margin: 0;
}

dt, dd {
    margin: 0;
    padding: 0;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

dt {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2px
}

.forecastWrapper{
    width: 400px;
    /*height: 700px;*/
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 5px solid black; */
}

.forecast {
    width: 350px;    
    border-radius: 40px;
}

/* 오늘 날씨 상세 정보 */
.today {
    padding-bottom: 8px;
}

.today h3 {
    margin-top: 0;
}

.todayDetail {
    width: 300px;
    border-radius: 10px;

    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);
    background-image: linear-gradient(135deg, rgba(255,255,255,0.3) , transparent , rgba(255,255,255,0.3) );
    
    display: flex;
}

.todayDetail li:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.todayDetail li:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.todayDetail li:hover {
    background-color: rgba(0, 26, 255, 0.4);
    color: #fee;
    cursor: pointer;
}

.todayDetail li:nth-child(2):hover {
    background-color: rgba(255, 0, 55, 0.4);
    color: #fee;
}

.today li:hover {
    background-image: linear-gradient(135deg, rgba(255,255,255,0.3) , transparent , rgba(255,255,255,0.3) );
}

.todayDetail dt span{
    font-weight: 200;
}

#infoStdTitle {
    display: flex;
    justify-content: left;
    align-items: center;

    margin-top: 16px;

    cursor: pointer;
    transform: translateX(-80px);

    font-size: 14px;
    color: #545454;
}

#iconTitle {
    transform: translateX(-90px);
    
}

#infoStdTitle span {
    margin-left: 4px;
    font-size: 20px;
}

#infoStdWrapper {
    width: 268px;
    height: 64px;
    border-radius: 10px;
    padding: 8px;

    background-color: #f8fbff;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    transform: translateY(120px);
    display: none;
}
#infoStdWrapper section {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infoStd {
    width: 100%;
    display: flex;
    justify-content: left;
}

.infoStd span:nth-child(1){
    font-weight: 200;
}

.infoStd span:nth-child(2){
    margin-left: 8px;
    font-size: 14px;
}

/* 주간예보 */
.week {
    padding: 8px 0 16px 0;
}
.week li {
    width: 100%;
    padding: 12px 0;
    border-radius: 20px;
 
    display: flex;
    justify-content: center;
}

.futureDay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

    font-weight: 600;
    /* color: var(--dark-color); */
}

.low, .high {
    width: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.low {
    margin-left: 30px;
}

.slash {
    width: 30px;
    color: #545454;

    display: flex;
    justify-content: center;
    align-content: center;
}

.low span, .high span {
    font-size: 24px;
    font-weight: 200;
}

.low dd:first-child{
    /*margin-right: 8px;*/
}

.low dd:first-child, .high dd:first-child{
    /*margin-bottom: 4px;*/
    margin-right: 8px;
    font-size: 0.8rem;
    color: #545454;
    /*font-weight: 700;*/
}

.templ dd:first-child {
    color: #0800e7;
}

.temph dd:first-child {
    color: #e70010;
}

.windo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.futureDays {
    width: 300px;
    padding: 0;
    border-radius: 10px;

    background-image: linear-gradient(135deg, rgba(255,255,255,0.2) 20%, transparent 80%);
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);
}

.futureDays li {
    border-radius: 0;
    border-bottom: 1px solid #fee;
}

.futureDays li:last-child {
     border: none;
}

.futureDays li:hover {
    background-image: linear-gradient(135deg, rgba(255,255,255,0.3) , transparent , rgba(255,255,255,0.3) );
}

.futureDays div {
    /*width: 40px;*/
}

/* pop-up 기본 스타일 */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
}

.popup input[type="submit"], .popup button, #tutoSave {
    
    /* submit 스타일 없애기 */
    background-color: transparent;
    border: none;

    cursor: pointer; /* submit 커서 */

    width: 100px;
    height: 40px;
    margin: 0 8px;
    
    border: 2px solid var(--light-color);
    border-radius: 30px;

    font-weight: 900;
}

.popup input[type="submit"]:hover, .popup button:hover , #tutoSave:hover {
    background-color: var(--light-color);
}

select, option {
    margin: 0;
    padding-left: 8px;
}

select:focus {
    outline: var(--dark-color) 2px solid;
}

/* Save pop-up */
.fvSaveWrapper {
    width: 100%;
    height: 100%;

    /* background-color: transparent; */
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
    
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;

    z-index: 2;
    display: none;
}

.fvSave {
    width: 400px;
    height: 550px;
    padding: 20px;
    border-radius: 20px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saveInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fwInfoWrapper {
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: var(--dark-color);
    color: #fee;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fwInfoWrapper div {
    padding: 2.5px 10px 2.5px 10px;
}

.fwItem {
    width: 100%;
    padding-bottom: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fwDetails {
    width: 100%;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 기온 정보 */
.fwTemp, .fwHumid, .fwRain {
    width: 250px;
    height: 50px;
    border-radius: 125px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items:center;
}

.saveTempInfo, .saveHumidInfo, .saveRainInfo {
    width: 60px;
    height: 50px;
    padding: 16px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.fwDetails select {
    width: 150px;
    height: 30px;
    border-radius: 30px;

    border: 1px solid var(--dark-color);

    font-weight: 700;
}

.saveForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fwDetails span {
    display: block;
    text-align: center;
    padding: 4px;
}

/* feedback pop-up */
.feedbackWrapper {
    width: 100%;
    height: 100%;

    /* background-color: transparent; */
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);

    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 11;
}

.feedback {
    width: 400px;
    height: 360px;
    border-radius: 20px;
    padding: 16px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedbackForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.starWrapper {
    padding: 16px;
}

.feedbackForm input[type="radio"]{
  display: none;
}

.feedbackForm label {
    color: var(--light-color);
}

.feedbackForm label span{
    font-variation-settings: 'FILL' 0;
    font-size: 3rem;

    cursor: pointer;
}

#comment {
    margin: 20px 0 20px 0;

    outline: none;
    resize: none;
}

/* loading */
.loadBack {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    /* background-color: transparent; */
    position: fixed;
    z-index: 11111;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loadingWrapper {
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 50%;

    background-color: var(--dark-color);
    box-shadow: 0 0px 4px 2px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.loadingImg{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingImg span{
    font-size: 10px;
    margin: 0 2px;
    animation: upDown 1.8s infinite;

    animation: upDown 2s infinite ease;
    color: #fff;
    font-variation-settings: 'FILL' 1;
}

.loadingImg span:nth-child(2){
    animation-delay: 0.3s;
}

.loadingImg span:nth-child(3){
    animation-delay: 0.6s;
}

.loadingText{
    color: #fff;
}

@keyframes upDown {
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* 튜토리얼 추가 */

.tutorialWrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    position: absolute;
    top: 0;
    display: none;
}

.next {
    border-radius: 10px;
    padding: 8px 12px;
    color: #fff;
    background-color: var(--dark-color);

    position: absolute;
    transform: translate(600px,20px);
}

.aboutTime {
    width: 100%;
    height: 100%;
}

#aboutitem1, #aboutitem2{
    position: absolute;

    display: none;
}

.aboutCharacter {
    width: 100%;
    height: 100%;

    display: none;
}

#aboutitem2 {
    width: 800px;
    height: 240px;
    margin-top: 0;
}

.aboutSave {
    width: 100%;
    height: 100%;
    display: none;
}

#aboutitem3 {
    position: absolute;
    width: 54px;    
    height: 54px;
    border-radius: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--light-color);
    background-color: var(--dark-color);
}

#aboutitem3:hover {
    color: #fee;
    height: 58px;
    width: 58px;
    transform: translate(-2px, -2px);
}

.tutorialInfo {
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #fff;
    /* border: 1px solid #fff; */
    transform: translate(400px);
    display: none;
}

#smyPage {
    width: 54px;    
    height: 54px;
    border-radius: 60px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--light-color);
    background-color: var(--dark-color);
    border: none;

    position: absolute;

    display: none;
}

#smyPage:hover {
    color: #fff;
}

#moveBefore, #moveAfter {
    position: fixed;
    color: #fff;
    font-weight: 900;
}

#moveBefore span, #moveAfter span{
    font-size: 36px;
}

#moveBefore {
    transform: translate(-325px,48px);
}

#moveAfter {
    transform: translate(330px,48px);
}

#tutoicon {
    transform: translateY(-280px);
    filter : drop-shadow(0 2px 2px rgba(0,0,0,0.2));
}

#iconText {
    color: #fff;
    transform: translateY(40px);
}

#aboutSaveText {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    position: fixed;
}

.myFvIcon {
    position: absolute;
    transform: translate(265px, 30px);

    /* background-color: #42b0f4; */
    /* background-color: var(--light-color); */
    /* background-color: orange; */
    /* background-image: linear-gradient(90deg, #42b0f4, var(--light-color), #e87813); */
    /* border: 2px solid white; */
    background-color: #fff;
    /* background-color: rgba(7, 98, 255, 0.5); */
    /* color: #fff; */
    padding: 16px;
    /* border-radius: 20rem; */
    border-radius: 10px;
    font-weight: 400;

    /* box-shadow: 0 0px 4px 2px rgba(0,0,0,0.2); */
    /* border: 4px solid var(--dark-color); */
    font-size: 14px;
    /* font-family: 'Gamja Flower', cursive; */
    font-family: 'Noto Sans KR', sans-serif;
    display: none;

}

.myFvIcon:after {
    border-top:0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    content:"";
    position:absolute;
    top:-10px;
    /* left:100px; */
   }

   #closeTuto {
    color: #fff;
    position: fixed;
    bottom: 24px;
    right: 24px;

    width: 120px;
    height: 40px;
    font-weight: 400;
   }

   .Title {
    background-image: none;
    box-shadow: none;
    border: none;

    transform: translateY(8px);
   }

   /* .week h3 {
    margin-bottom: 0;
   } */

   .Title .dayTitle {
    font-weight: 400;
    font-size: 14px;
    width: 32px;
   }

   #love {
    font-variation-settings: 'FILL' 1;
    color: red;
    position: absolute;
    font-size: 36px;
    /* transform: translate(-8px, -64px); */
    transform: translate(164px, -16px);
    cursor: pointer;
   }

   #tutolove {
    font-variation-settings: 'FILL' 1;
    color: red;
    position: absolute;
    font-size: 36px;
    /* transform: translate(-8px, -64px); */
    transform: translate(164px, -16px);
    cursor: pointer;
   }

   .tutoMyFvIcon {
    position: absolute;
    transform: translate(265px, 30px);

    /* background-color: #42b0f4; */
    /* background-color: var(--light-color); */
    /* background-color: orange; */
    /* background-image: linear-gradient(90deg, #42b0f4, var(--light-color), #e87813); */
    /* border: 2px solid white; */
    background-color: #fff;
    /* background-color: rgba(7, 98, 255, 0.5); */
    /* color: #fff; */
    padding: 16px;
    /* border-radius: 20rem; */
    border-radius: 10px;
    font-weight: 400;

    /* box-shadow: 0 0px 4px 2px rgba(0,0,0,0.2); */
    /* border: 4px solid var(--dark-color); */
    font-size: 14px;
    /* font-family: 'Gamja Flower', cursive; */
    font-family: 'Noto Sans KR', sans-serif;
    display: none;
    z-index: 1;

}

.tutoMyFvIcon:after {
    border-top:0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    content:"";
    position:absolute;
    top:-10px;
    /* left:100px; */
   }

#loadImg {
    /* width: 500px; */
    background-color: transparent;
}

#moveMyPage {
    position: fixed;
    color: white;
    display: none;
}

 
.aboutAfterSave {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

/*
.aboutAfterSave {
    width: 1200px;
    height: 600px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
    
}

.imgWrapper {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgWrapper img {
    height: 400px;
}

.explain {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#moveBeforeImg span, #moveAfterImg span{
    font-size: 36px;
} */

#tutoSave {
    z-index: 11111;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: none;
}

#tempMyPage {
    /* display:none;  */
    width: 1200px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}